<!DOCTYPE html>
<html lang="en">
  <%- include('./parcials/head.ejs') %>

  <body>
    <%- include('./parcials/nav.ejs') %>
    <div class="blogs content">
      <h2>OOOoops some things went wrong</h2>
    </div>
    <%- include('./parcials/footer.ejs') %>
  </body>
</html>
