<!DOCTYPE html>
<html lang="en">
<head>
       <%- include('./parcials/head.ejs') %>
</head>
<body>
     <%- include('./parcials/nav.ejs') %>
    <div class="blogs content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur doloribus voluptatibus iusto, dolores vitae adipisci eaque! Ducimus, cum, nulla quasi architecto suscipit, eos in ab dolores eveniet quos culpa ea?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim ad odio consequuntur neque iste beatae excepturi. Voluptas, reiciendis? Placeat, quod sint quae provident voluptatibus vero ab fugit voluptates ut sequi.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde incidunt deleniti cumque qui dolores est nulla pariatur saepe aliquam, eveniet omnis nesciunt voluptatem dolorum vel eligendi. Omnis consequatur beatae magni!</p>
    </div>
           <%- include('./parcials/footer.ejs') %>
</body>
</html>